body{
    margin: 2%;
    padding: 2%;
    font-family: 'Roboto Mono', monospace;
}
.banner{
    display: flex;
    justify-content:center;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 300%;
}
.banner h1{
    margin-top: 3%;
}
h2{
    font-size: xx-large;
}
nav {
    background-color: #14a9c7;
    text-align: right;
    margin: 0 1% 0 1%;
    font-size: 120%;
    position: fixed; /*It fixes the position of the nav bar*/
    width:90%;
    top: 0; /*Keeps the nav bar on top with 0 space*/
        
}
nav ul{
    list-style: none; /* Eliminate the bullet points of the unordered list*/
    display: flex; /* list items horizontally aligned*/
    justify-content: flex-end; /* Align items to the right*/
    margin: 0;
    padding: 0;
}
.points{
    padding: 1%;
}
.pointslink{
    text-decoration: none;
    color: white; 
}
.pointslink:hover{
    text-decoration: underline;
}
/* Divisions style */
.colors, .fonts, .styles {
    border: 2px solid grey;
    margin: 1%;
    padding: 5%;
}

/* Division Color */
.colors{
    padding: 1%;
}
.colorscontainer {
   display: flex; 
   justify-content: space-around;
   align-items: center; 
}

@media (max-width: 768px) {
    .colorscontainer {
        flex-direction: column;
        text-align: center;
    }

    .colorsdiv {
        margin: 5px 0;
    }
}
.one, .two, .three, .fourth{
    color: white;
    padding: 5%;
}
.one{
    background-color: #084559;
} 
.two{
    background-color:#78b9cf;
}
.three{
    background-color: #78cfa1;
}
.fourth{
    background-color: #cfc978;
}
/* Division Fonts */
.fonts{
    padding: 1%;
}
.fontdivs{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
.fontdivone, .fontdivtwo{
    border: 2px solid white;
    padding-top: 0;
    padding: 3%;
}

.fontone{
    font-family: 'Montserrat', sans-serif;
}
.fonttwo{
    font-family: 'Poppins', sans-serif;
}
.fontthree{
    font-family: 'Roboto Mono', monospace;
}
p{
    font-size: large;
}
.title {
    text-decoration: underline;
    font-size: x-large;
}
.bold{
    font-weight: 800;
}
.italic{
    font-style: italic;
}
/* Text Styles */
ul.style1 li{
    font-family:'Montserrat', sans-serif; 
    font-weight: 700px;
    font-size: 26px;
}
ul.style2 li{
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    font-size: 18px;
}
ul.style3 li{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 14px;
}